body {
    background-color: rgb(210, 210, 210);
}

h1 {
    text-align: center;
    padding-top: 10px;
}

h5 {
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 15px;
}

.formulario {
    position: relative;
    top: 50px;
    width: 800px;
    height: 480px;
    background-color: #FFF;
    margin: 0 auto;
    border-radius: 30px;
}

.save {
    display: flex;
    align-items: center;
    justify-content: center;
}

.enviar {
    position: relative;
    top: 50px;
    width: 300px;
    height: 45px;
    font-size: 12pt;
    color: #FFF;
    background-color: rgb(4, 157, 106);
    border-radius: 10px;
}