body {
    background-color: rgb(210, 210, 210);
}

h1 {
    text-align: center;
    padding-top: 10px;
}

h5 {
    padding-left: 15px;
    padding-bottom: 10px;
}

.formulario {
    position: relative;
    top: 50px;
    width: 800px;
    height: 400px;
    background-color: #FFF;
    margin: 0 auto;
    border-radius: 30px;
}

